<form name="eventForm" [formGroup]="restaurantForm" class="event-form" (ngSubmit)="onSubmit()" id="topContent">
  <div class="row">
    <div class="col-lg-8 col-sm-12 p-b-16">
      <mat-card class="cardWithShadow theme-card">
        <mat-card-header>
          <mat-card-title class="m-b-0">
            {{util.appTranslate('restaurant_informations')}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="b-t-0">
          <div class="row">

            <div class="col-lg-12 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('restaurant_name')}}</mat-label>
                <input matInput formControlName="name" type="text" />
                @if(haveSubmitClicked == true && f['name'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['name'].errors && f['name'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('restaurant_address')}}</mat-label>
                <textarea matInput formControlName="address" type="text" row="2"></textarea>
                @if(haveSubmitClicked == true && f['address'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['address'].errors && f['address'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>


              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('restaurant_description')}}</mat-label>
                <textarea matInput formControlName="shortDescription" type="text" row="2"></textarea>
                @if(haveSubmitClicked == true && f['shortDescription'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['shortDescription'].errors && f['shortDescription'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                @for (item of languages; track $index) {
                <mat-tab [label]="item.nativeName">
                  <div class="mat-body-1 px-16 m-t-12">
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                      <input matInput type="text"
                        placeholder="{{util.appTranslate('restaurant_name')}} ({{item.nativeName}})"
                        [(ngModel)]="item.title" [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100" color="primary">
                      <textarea matInput type="text"
                        placeholder="{{util.appTranslate('restaurant_address')}} ({{item.nativeName}})"
                        [(ngModel)]="item.address" [ngModelOptions]="{standalone: true}" row="2"> </textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100" color="primary">
                      <textarea matInput type="text"
                        placeholder="{{util.appTranslate('restaurant_description')}} ({{item.nativeName}})"
                        [(ngModel)]="item.shortDescription" [ngModelOptions]="{standalone: true}" row="2"> </textarea>
                    </mat-form-field>

                  </div>
                </mat-tab>
                }
              </mat-tab-group>
            </div>

          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="cardWithShadow theme-card">
        <mat-card-header>
          <mat-card-title class="m-b-0">
            {{util.appTranslate('location_information')}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="b-t-0">
          <div class="row">

            <div class="col-lg-6 col-sm-12 p-b-16">
              <div class="row">

                <div class="col-lg-6 col-sm-12 p-b-16">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>{{util.appTranslate('th_choose_city')}}</mat-label>
                    <input type="text" [placeholder]="util.appTranslate('th_choose_city')" matInput name="city"
                      formControlName="city" [formControl]="cityCtrl" [matAutocomplete]="autoCity" />
                    <mat-autocomplete autoActiveFirstOption #autoCity="matAutocomplete"
                      (optionSelected)="onCitySelect($event)" [displayWith]="displayCityName">
                      @for (item of cities | async; track $index) {
                      <mat-option [value]="item.id">
                        {{ getTranslatedCityName(item) }}
                      </mat-option>
                      }
                    </mat-autocomplete>
                    @if(haveSubmitClicked == true && f['city'].invalid){
                    <mat-hint class="m-b-16 error-msg">
                      @if(f['city'].errors && f['city'].errors['required']){
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>

                <div class="col-lg-6 col-sm-12 p-b-16">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>{{util.appTranslate('choose_locality')}}</mat-label>
                    <input type="text" [placeholder]="util.appTranslate('choose_locality')" matInput name="locality"
                      formControlName="locality" [formControl]="localityCtrl" [matAutocomplete]="autoLocality" />
                    <mat-autocomplete autoActiveFirstOption #autoLocality="matAutocomplete"
                      (optionSelected)="onLocalitySelect($event)" [displayWith]="displayLocalityName">
                      @for (item of localities | async; track $index) {
                      <mat-option [value]="item.id">
                        {{ getTranslatedLocalityName(item) }}
                      </mat-option>
                      }
                    </mat-autocomplete>
                  </mat-form-field>
                </div>

                <div class="col-lg-6 col-sm-12 p-b-16">
                  <mat-form-field appearance="outline" class="w-100" color="primary"
                    [matTooltip]="util.appTranslate('drag_restaurant_location_marker')">
                    <mat-label>{{util.appTranslate('latitude_lbl')}}</mat-label>
                    <input matInput formControlName="latitude" type="number" />
                    @if(haveSubmitClicked == true && f['latitude'].invalid){
                    <mat-hint class="m-b-16 error-msg">
                      @if(f['latitude'].errors && f['latitude'].errors['required']){
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>

                <div class="col-lg-6 col-sm-12 p-b-16">
                  <mat-form-field appearance="outline" class="w-100" color="primary"
                    [matTooltip]="util.appTranslate('drag_restaurant_location_marker')">
                    <mat-label>{{util.appTranslate('longitude_lbl')}}</mat-label>
                    <input matInput formControlName="longitude" type="number" />
                    @if(haveSubmitClicked == true && f['longitude'].invalid){
                    <mat-hint class="m-b-16 error-msg">
                      @if(f['longitude'].errors && f['longitude'].errors['required']){
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>

              </div>
            </div>

            <div class="col-lg-6 col-sm-12 p-b-16">
              <google-map [center]="mapCenterLocation" [zoom]="14" [options]="mapOptions" width="100%" height="180px"
                (mapClick)="moveMap($event)">
                <map-marker [position]="markerPosition" [options]="markerOptions"
                  (mapDragend)="onMarkerDragEnd($event)"></map-marker>
              </google-map>
            </div>

          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="cardWithShadow theme-card">
        <mat-card-header>
          <mat-card-title class="m-b-0">
            {{util.appTranslate('business_model_informations')}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="b-t-0">
          <div class="row">
            <div class="col-lg-6 col-sm-12 p-b-16">
              <div class="row">
                <div class="col-lg-12 col-sm-12 p-b-16">
                  <mat-label
                    class="mat-subtitle-2 f-w-600 m-b-8 d-block">{{util.appTranslate('restaurant_business_type')}}</mat-label>
                  <mat-radio-group formControlName="type" (change)="onTypeChange($event)">
                    <mat-radio-button value="commission"
                      color="primary">{{util.appTranslate('on_commission')}}</mat-radio-button>
                    <mat-radio-button value="subscription"
                      color="primary">{{util.appTranslate('on_subscription')}}</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="col-lg-12 col-sm-12 p-b-16">
                  <mat-form-field appearance="outline" class="w-100" color="primary"
                    [matTooltip]="util.appTranslate('commission_in_per')">
                    <mat-label>{{util.appTranslate('commission')}}</mat-label>
                    <input matInput formControlName="commission" type="number" />
                    @if(haveSubmitClicked == true && f['commission'].invalid){
                    <mat-hint class="m-b-16 error-msg">
                      @if(f['commission'].errors && f['commission'].errors['required']){
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>

                @if(f['type'].value == 'subscription'){
                <div class="col-lg-12 col-sm-12 p-b-16">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>{{util.appTranslate('choose_package')}}</mat-label>
                    <input type="text" [placeholder]="util.appTranslate('choose_package')" matInput name="subscription"
                      formControlName="subscription" [formControl]="subscriptionCtrl"
                      [matAutocomplete]="autoSubscription" />
                    <mat-autocomplete autoActiveFirstOption #autoSubscription="matAutocomplete"
                      (optionSelected)="onSubscriptionSelect($event)" [displayWith]="displaySubscriptionName">
                      @for (item of subscriptions | async; track $index) {
                      <mat-option [value]="item.id">
                        {{ item.displayName }}
                      </mat-option>
                      }
                    </mat-autocomplete>
                    @if(haveSubmitClicked == true && f['subscription'].invalid){
                    <mat-hint class="m-b-16 error-msg">
                      @if(f['subscription'].errors && f['subscription'].errors['required']){
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>
                }

              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12 p-b-16">
                  <mat-label
                    class="mat-subtitle-2 f-w-600 m-b-8 d-block">{{util.appTranslate('max_order_limit')}}</mat-label>
                  <div class="d-flex align-items-center justify-content-start m-t-20 m-b-20">
                    <div class="d-flex align-items-center justify-content-center cursor-pointer"
                      (click)="onOrderLimitChange('unlimited')">
                      <img
                        [src]="f['orderLimit'].value == -1 ? 'assets/images/check_active.png' : 'assets/images/check_inactive.png' "
                        alt="img" height="20" width="20">
                      <span class="mat-body-1 f-s-12 m-l-10">{{util.appTranslate('no_limit')}}</span>
                    </div>

                    <div class="d-flex align-items-center justify-content-center cursor-pointer m-l-12"
                      (click)="onOrderLimitChange('limited')">
                      <img
                        [src]="f['orderLimit'].value != -1 ? 'assets/images/check_active.png' : 'assets/images/check_inactive.png' "
                        alt="img" height="20" width="20">
                      <span class="mat-body-1 f-s-12 m-l-10">{{util.appTranslate('set_custom_limit')}}</span>
                    </div>
                  </div>
                </div>

                @if(restaurantForm.controls['orderLimit'].value != -1){
                <div class="col-lg-12 col-sm-12 p-b-16">
                  <mat-form-field appearance="outline" class="w-100" color="primary">
                    <mat-label>{{util.appTranslate('custom_order_limit')}}</mat-label>
                    <input matInput formControlName="orderLimit" type="number" />
                    @if(haveSubmitClicked == true && f['orderLimit'].invalid){
                    <mat-hint class="m-b-16 error-msg">
                      @if(f['orderLimit'].errors && f['orderLimit'].errors['required']){
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>
                }
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12 p-b-16">
                  <mat-label
                    class="mat-subtitle-2 f-w-600 m-b-8 d-block">{{util.appTranslate('max_product_limit')}}</mat-label>
                  <div class="d-flex align-items-center justify-content-start m-t-20 m-b-20">
                    <div class="d-flex align-items-center justify-content-center cursor-pointer"
                      (click)="onProductLimitChange('unlimited')">
                      <img
                        [src]="f['productLimit'].value == -1 ? 'assets/images/check_active.png' : 'assets/images/check_inactive.png' "
                        alt="img" height="20" width="20">
                      <span class="mat-body-1 f-s-12 m-l-10">{{util.appTranslate('no_limit')}}</span>
                    </div>

                    <div class="d-flex align-items-center justify-content-center cursor-pointer m-l-12"
                      (click)="onProductLimitChange('limited')">
                      <img
                        [src]="f['productLimit'].value != -1 ? 'assets/images/check_active.png' : 'assets/images/check_inactive.png' "
                        alt="img" height="20" width="20">
                      <span class="mat-body-1 f-s-12 m-l-10">{{util.appTranslate('set_custom_limit')}}</span>
                    </div>
                  </div>
                </div>

                @if(restaurantForm.controls['productLimit'].value != -1){
                <div class="col-lg-12 col-sm-12 p-b-16">
                  <mat-form-field appearance="outline" class="w-100" color="primary">
                    <mat-label>{{util.appTranslate('custom_product_limit')}}</mat-label>
                    <input matInput formControlName="productLimit" type="number" />
                    @if(haveSubmitClicked == true && f['productLimit'].invalid){
                    <mat-hint class="m-b-16 error-msg">
                      @if(f['productLimit'].errors && f['productLimit'].errors['required']){
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>
                }
              </div>

              @if(f['pos'].value){
              <div class="row">
                <div class="col-lg-12 col-sm-12 p-b-16">
                  <mat-form-field appearance="outline" class="w-100" color="primary"
                    [matTooltip]="util.appTranslate('pos_order_commission_in_per')">
                    <mat-label>{{util.appTranslate('pos_order_commission')}}</mat-label>
                    <input matInput formControlName="posOrderCommission" type="number" />
                    @if(haveSubmitClicked == true && f['posOrderCommission'].invalid){
                    <mat-hint class="m-b-16 error-msg">
                      @if(f['posOrderCommission'].errors && f['posOrderCommission'].errors['required']){
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>
              </div>
              }

              @if(f['tableOrder'].value){
              <div class="row">
                <div class="col-lg-12 col-sm-12 p-b-16">
                  <mat-form-field appearance="outline" class="w-100" color="primary"
                    [matTooltip]="util.appTranslate('table_order_commission_in_per')">
                    <mat-label>{{util.appTranslate('table_order_commission')}}</mat-label>
                    <input matInput formControlName="tableOrderCommission" type="number" />
                    @if(haveSubmitClicked == true && f['tableOrderCommission'].invalid){
                    <mat-hint class="m-b-16 error-msg">
                      @if(f['tableOrderCommission'].errors && f['tableOrderCommission'].errors['required']){
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>
              </div>
              }
            </div>

            <div class="col-lg-6 col-sm-12 p-b-16">
              <h4 class="mat-subtitle-2 f-w-600">{{util.appTranslate('select_package_features')}}:</h4>
              <p>
                <mat-checkbox formControlName="pos" color="primary">{{util.appTranslate('pos')}}</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="ownDriver"
                  color="primary">{{util.appTranslate('own_deliveryman')}}</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="promote"
                  color="primary">{{util.appTranslate('promote_on_system')}}</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="customCategory"
                  color="primary">{{util.appTranslate('dd_custom_category')}}</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="multiOutlet"
                  color="primary">{{util.appTranslate('multi_outlet')}}</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="preBooking"
                  color="primary">{{util.appTranslate('advance_table_booking')}}</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="tableOrder"
                  color="primary">{{util.appTranslate('table_scan_order')}}</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="tiffinSubscription"
                  color="primary">{{util.appTranslate('subscription_tiffin_service')}}</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="ownWaiter"
                  color="primary">{{util.appTranslate('waiter_service')}}</mat-checkbox>
              </p>
              <p>
                <mat-checkbox formControlName="ownKitchen"
                  color="primary">{{util.appTranslate('kitchen_app')}}</mat-checkbox>
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="cardWithShadow theme-card">
        <mat-card-header>
          <mat-card-title class="m-b-0">
            {{util.appTranslate('business_owner_informations')}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="b-t-0">
          <div class="row">

            <div class="col-lg-6 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('first_name_lbl')}}</mat-label>
                <input matInput formControlName="firstName" type="text" />
                @if(haveSubmitClicked == true && f['firstName'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['firstName'].errors && f['firstName'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('last_name_lbl')}}</mat-label>
                <input matInput formControlName="lastName" type="text" />
                @if(haveSubmitClicked == true && f['lastName'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['lastName'].errors && f['lastName'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>
            </div>

            <div class="col-lg-12 col-sm-12">
              <div class="row">
                <div class="col-lg-3 col-sm-12 p-b-16">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>{{util.appTranslate('country_lbl')}}</mat-label>
                    <input type="text" [placeholder]="util.appTranslate('choose_country')" matInput name="countryCode"
                      [formControl]="countryCodeCtrl" [matAutocomplete]="autoCountryCode" />
                    <mat-autocomplete autoActiveFirstOption #autoCountryCode="matAutocomplete"
                      (optionSelected)="onCountryCodeSelect($event)">
                      @for (item of countryCodes | async; track $index) {
                      <mat-option [value]="item.flag +' '+ item.dial_code +' '+ item.name">
                        {{item.flag +' '+ item.dial_code + ' '+ item.name }}
                      </mat-option>
                      }
                    </mat-autocomplete>
                    @if(haveSubmitClicked == true && f['countryCode'].invalid){
                    <mat-hint class="m-b-16 error-msg">
                      @if(f['countryCode'].errors && f['countryCode'].errors['required']){
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>
                <div class="col-lg-9 col-sm-12 p-b-16">
                  <mat-form-field appearance="outline" class="w-100" color="primary">
                    <mat-label>{{util.appTranslate('mobile_number')}}</mat-label>
                    <input matInput formControlName="mobile" type="number" />
                    @if(haveSubmitClicked == true && f['mobile'].invalid){
                    <mat-hint class="m-b-16 error-msg">
                      @if(f['mobile'].errors && f['mobile'].errors['required']){
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('email_lbl')}}</mat-label>
                <input matInput formControlName="email" type="email" />
                @if(haveSubmitClicked == true && f['email'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['email'].errors && f['email'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                  @if(f['email'].errors && f['email'].errors['pattern']){
                  <div class="text-error">
                    {{util.appTranslate('email_validation')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('password')}}</mat-label>
                <input matInput type="password" formControlName="password" />
                @if(haveSubmitClicked == true && f['password'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['password'].errors && f['password'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>
            </div>

          </div>
        </mat-card-content>
      </mat-card>

      @if(formFields.length){
      <mat-card class="cardWithShadow theme-card">
        <mat-card-header>
          <mat-card-title class="m-b-0">
            {{util.appTranslate('form_fields')}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="b-t-0">
          <div class="row">
            @for (item of formFields; track $index) {
            <div class="col-lg-6 col-sm-12 p-b-16">
              @if(item.fieldType == 'text' || item.fieldType == 'number' || item.fieldType == 'email' || item.fieldType
              == 'phone' || item.fieldType == 'date'){
              <div>
                <h6 class="mat-subtitle-1 f-s-14 f-w-600 lh-sm">
                  {{ item.fieldName }}
                </h6>
                <span class="mat-body-1 f-s-12">
                  {{ item.fieldValue }}
                </span>
              </div>
              }
              @if(item.fieldType == 'choose'){
              <div>
                <h6 class="mat-subtitle-1 f-s-14 f-w-600 lh-sm p-b-16">
                  {{ item.fieldName }}
                </h6>
                <div class="row">
                  @for (subItem of item.fieldItems; track $index) {
                  <div class="col-lg-6 col-sm-12 p-b-16 d-flex align-items-center">
                    <span class="mat-body-1 f-s-12">
                      {{ subItem.name }}
                    </span>
                    @if(subItem.value){
                    <ng-icon name="tablerCheck" class="icon-12 d-flex m-l-4 text-success"></ng-icon>
                    }
                    @if(!subItem.value){
                    <ng-icon name="tablerX" class="icon-12 d-flex m-l-4 text-error"></ng-icon>
                    }
                  </div>
                  }
                </div>
              </div>
              }
              @if(item.fieldType == 'file'){
              <div>
                <h6 class="mat-subtitle-1 f-s-14 f-w-600 lh-sm">
                  {{ item.fieldName }}
                </h6>
                <div class="d-flex align-items-center text-secondary cursor-pointer"
                  (click)="onDocumentClick(item.fieldValue)">
                  <div class="d-flex">
                    <span class="f-s-14">{{util.appTranslate('view_document')}}</span>
                  </div>
                </div>
              </div>
              }
            </div>
            }
          </div>
        </mat-card-content>
      </mat-card>
      }

      <mat-card class="cardWithShadow theme-card">
        <mat-card-header>
          <mat-card-title class="m-b-0">
            {{util.appTranslate('social_media_links')}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="b-t-0">
          <div class="row p-b-16">
            <div class="col-lg-6 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('facebook_url')}}</mat-label>
                <input matInput formControlName="socialFacebook" type="text" />
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('instagram_url')}}</mat-label>
                <input matInput formControlName="socialInstagram" type="text" />
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('x_url')}}</mat-label>
                <input matInput formControlName="socialX" type="text" />
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('youtube_url')}}</mat-label>
                <input matInput formControlName="socialYoutube" type="text" />
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('linkedin_url')}}</mat-label>
                <input matInput formControlName="socialLinkedIn" type="text" />
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('pinterest_url')}}</mat-label>
                <input matInput formControlName="socialPinterest" type="text" />
              </mat-form-field>
            </div>

          </div>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="col-lg-4 col-sm-12 p-b-16">
      <mat-card class="cardWithShadow theme-card">
        <mat-card-header>
          <mat-card-title class="m-b-0">
            {{util.appTranslate('meta_information')}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-0">
          <div class="row">
            <div class="col-lg-4 col-sm-12 p-b-16">
              <mat-label [matTooltip]="util.appTranslate('upload_logo_ratio_1_o_1')"
                [ngClass]="haveSubmitClicked == true && f['logo'].invalid ? 'f-s-12 text-error' :'f-s-12' ">{{util.appTranslate('logo_ratio_1_o_1')}}</mat-label>
              <img [src]="api.mediaUrl+f['logo'].value" class="custom-image-upload border p-5 m-t-16 w-100"
                (click)="onImageClick('logo')" [matTooltip]="util.appTranslate('select_logo_ratio_1_o_1')"
                onError="this.src='assets/images/placeholder.png'"
                [ngStyle]="{'border': haveSubmitClicked == true && f['logo'].invalid ? '2px dashed red' : '2px dashed #e5e5e5', 'height' : '120px'}" />
            </div>

            <div class="col-lg-8 col-sm-12 p-b-16">
              <mat-label [matTooltip]="util.appTranslate('upload_cover_ratio_1_o_1')"
                [ngClass]="haveSubmitClicked == true && f['cover'].invalid ? 'f-s-12 text-error' :'f-s-12' ">{{util.appTranslate('cover_ratio_1_o_1')}}</mat-label>
              <img [src]="api.mediaUrl+f['cover'].value" class="custom-image-upload border p-5 m-t-16 w-100"
                (click)="onImageClick('cover')" [matTooltip]="util.appTranslate('select_cover_ratio_1_o_1')"
                onError="this.src='assets/images/placeholder.png'"
                [ngStyle]="{'border': haveSubmitClicked == true && f['cover'].invalid ? '2px dashed red' : '2px dashed #e5e5e5', 'height' : '120px'}" />
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-sm-12 p-b-16">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{util.appTranslate('available_cuisine')}}</mat-label>
                <mat-select (openedChange)="openedChange($event)" [placeholder]="util.appTranslate('select_cuisines')"
                  [formControl]="f['cuisine']" multiple>
                  <mat-select-trigger>
                    {{f['cuisine'].value ? f['cuisine'].value[0] : ''}}
                    @if(f['cuisine'].value!.length > 1){
                    <span class="additional-selection">
                      (+{{f['cuisine'].value!.length - 1}} {{f['cuisine'].value!.length === 2 ?
                      util.appTranslate('other_dd') :
                      util.appTranslate('others_dd')}})
                    </span>
                    }
                  </mat-select-trigger>
                  <div class="w-100">
                    <mat-optgroup>
                      <mat-form-field class="w-100" appearance="outline">
                        <input #search autocomplete="off" [placeholder]="util.appTranslate('search_cuisine')" matInput
                          [formControl]="cuisineCtrl">
                      </mat-form-field>
                    </mat-optgroup>
                    @if((cuisineList | async)?.length == 0){
                    <mat-optgroup>
                      <div>{{util.appTranslate('no_result_found')}}</div>
                    </mat-optgroup>
                    }
                    @for (option of cuisineList | async; track $index) {
                    <mat-option [value]="option.displayName">
                      {{option.displayName}}
                    </mat-option>
                    }
                  </div>
                </mat-select>
                @if(haveSubmitClicked == true && f['cuisine'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['cuisine'].errors && f['cuisine'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>
            </div>

            <div class="col-lg-12 col-sm-12 p-b-16">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{util.appTranslate('restaurant_type')}}</mat-label>
                <mat-select (openedChange)="typeOpenedChange($event)"
                  [placeholder]="util.appTranslate('select_restaurant_type')" [formControl]="f['restaurantType']"
                  multiple>
                  <mat-select-trigger>
                    {{f['restaurantType'].value ? f['restaurantType'].value[0] : ''}}
                    @if(f['restaurantType'].value!.length > 1){
                    <span class="additional-selection">
                      (+{{f['restaurantType'].value!.length - 1}} {{f['restaurantType'].value!.length === 2 ?
                      util.appTranslate('other_dd') :
                      util.appTranslate('others_dd')}})
                    </span>
                    }
                  </mat-select-trigger>
                  <div class="w-100">
                    <mat-optgroup>
                      <mat-form-field class="w-100" appearance="outline">
                        <input #searchRestaurantType autocomplete="off"
                          [placeholder]="util.appTranslate('search_restaurant_type')" matInput [formControl]="typeCtrl">
                      </mat-form-field>
                    </mat-optgroup>
                    @if((typeList | async)?.length == 0){
                    <mat-optgroup>
                      <div>{{util.appTranslate('no_result_found')}}</div>
                    </mat-optgroup>
                    }
                    @for (option of typeList | async; track $index) {
                    <mat-option [value]="option.displayName">
                      {{option.displayName}}
                    </mat-option>
                    }
                  </div>
                </mat-select>
                @if(haveSubmitClicked == true && f['restaurantType'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['restaurantType'].errors && f['restaurantType'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>
            </div>


            <div class="col-lg-12 col-sm-12 p-b-16">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{util.appTranslate('restaurant_facilities')}}</mat-label>
                <mat-select (openedChange)="facilitiesOpenedChange($event)"
                  [placeholder]="util.appTranslate('select_restaurant_facilities')"
                  [formControl]="f['restaurantFacility']" multiple>
                  <mat-select-trigger>
                    {{f['restaurantFacility'].value ? f['restaurantFacility'].value[0] : ''}}
                    @if(f['restaurantFacility'].value!.length > 1){
                    <span class="additional-selection">
                      (+{{f['restaurantFacility'].value!.length - 1}} {{f['restaurantFacility'].value!.length === 2 ?
                      util.appTranslate('other_dd') :
                      util.appTranslate('others_dd')}})
                    </span>
                    }
                  </mat-select-trigger>
                  <div class="w-100">
                    <mat-optgroup>
                      <mat-form-field class="w-100" appearance="outline">
                        <input #searchRestaurantFacilities autocomplete="off"
                          [placeholder]="util.appTranslate('search_restaurant_facilities')" matInput
                          [formControl]="facilitiesCtrl">
                      </mat-form-field>
                    </mat-optgroup>
                    @if((facilitiesList | async)?.length == 0){
                    <mat-optgroup>
                      <div>{{util.appTranslate('no_result_found')}}</div>
                    </mat-optgroup>
                    }
                    @for (option of facilitiesList | async; track $index) {
                    <mat-option [value]="option.displayName">
                      {{option.displayName}}
                    </mat-option>
                    }
                  </div>
                </mat-select>
                @if(haveSubmitClicked == true && f['restaurantFacility'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['restaurantFacility'].errors && f['restaurantFacility'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>
            </div>

            <div class="col-lg-12 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{util.appTranslate('home_delivery_lbl')}}</mat-label>
                <mat-select formControlName="acceptHomeDelivery">
                  <mat-option [value]="true">{{util.appTranslate('dd_yes_home_delivery')}}</mat-option>
                  <mat-option [value]="false">{{util.appTranslate('dd_no_home_delivery')}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-lg-12 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{util.appTranslate('takeaway_lbl')}}</mat-label>
                <mat-select formControlName="takeAway">
                  <mat-option [value]="true">{{util.appTranslate('dd_yes_takeaway')}}</mat-option>
                  <mat-option [value]="false">{{util.appTranslate('dd_no_takeaway')}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-lg-12 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{util.appTranslate('schedule_order_lbl')}}</mat-label>
                <mat-select formControlName="acceptScheduleDelivery">
                  <mat-option [value]="true">{{util.appTranslate('dd_yes_schedule_order')}}</mat-option>
                  <mat-option [value]="false">{{util.appTranslate('dd_no_schedule_order')}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-lg-12 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('min_order_amount_lbl')}}</mat-label>
                <input matInput formControlName="minOrderAmount" type="number" />
                @if(haveSubmitClicked == true && f['minOrderAmount'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['minOrderAmount'].errors && f['minOrderAmount'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>
            </div>

            <div class="col-lg-12 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>{{util.appTranslate('dish_for_two')}}</mat-label>
                <input matInput formControlName="dishPriceForTwo" type="number" />
                @if(haveSubmitClicked == true && f['dishPriceForTwo'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['dishPriceForTwo'].errors && f['dishPriceForTwo'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>
            </div>

            <div class="col-lg-12 col-sm-12 p-b-16" (click)="onDeliveryTimePicker()">
              <mat-form-field appearance="outline" class="w-100" color="primary"
                [matTooltip]="util.appTranslate('select_delivery_min_max_time')">
                <mat-label>{{util.appTranslate('appx_delivery_time_lbl')}}</mat-label>
                <input matInput formControlName="approxDeliveryTime" type="text" />
                @if(haveSubmitClicked == true && f['approxDeliveryTime'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['approxDeliveryTime'].errors && f['approxDeliveryTime'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>
            </div>

            <div class="col-lg-12 col-sm-12 p-b-16">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{util.appTranslate('choose_license')}}</mat-label>
                <input type="text" [placeholder]="util.appTranslate('choose_license')" matInput name="license"
                  formControlName="license" [formControl]="licenseCtrl" [matAutocomplete]="autoLicense" />
                <mat-autocomplete autoActiveFirstOption #autoLicense="matAutocomplete"
                  (optionSelected)="onLicenseSelect($event)" [displayWith]="displayLicenseName">
                  @for (item of licenses | async; track $index) {
                  <mat-option [value]="item.id">
                    {{ getTranslatedLicenseName(item) }}
                  </mat-option>
                  }
                </mat-autocomplete>
                @if(haveSubmitClicked == true && f['license'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['license'].errors && f['license'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>
            </div>

            <div class="col-lg-12 col-sm-12 p-b-16">
              <mat-form-field appearance="outline" class="w-100" color="primary"
                [matTooltip]="util.appTranslate('license_number')">
                <mat-label>{{util.appTranslate('license_number')}}</mat-label>
                <input matInput formControlName="licenseId" name="licenseId" type="text" />
                @if(haveSubmitClicked == true && f['licenseId'].invalid){
                <mat-hint class="m-b-16 error-msg">
                  @if(f['licenseId'].errors && f['licenseId'].errors['required']){
                  <div class="text-error">
                    {{util.appTranslate('form_required')}}
                  </div>
                  }
                </mat-hint>
                }
              </mat-form-field>
            </div>

          </div>

          @if(status != 'pending_payments'){
          <div class="row">
            <div class="col-lg-6 col-sm-12 p-b-16">
              <button mat-flat-button color="primary" type="submit" class="w-100">
                {{util.appTranslate('approve')}}
              </button>
            </div>
            <div class="col-lg-6 col-sm-12 p-b-16">
              <button mat-flat-button class="w-100 bg-secondary text-white" type="button"
                (click)="onRejectRequest()">{{util.appTranslate('reject')}}</button>
            </div>
          </div>
          }

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
