<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100">
        <app-branding></app-branding>

        <div class="align-items-center justify-content-center img-height d-none d-lg-flex">
          <img src="/assets/images/backgrounds/login-bg.svg" alt="login" style="max-width: 500px" />
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0">
      <div class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100">
        <div class="row justify-content-center w-100">
          <div class="col-lg-9 max-width-form">
            <h4 class="f-w-700 f-s-24 m-0">{{util.appName}} {{util.appTranslate('admin_setup_title')}}</h4>
            <span class="f-s-14 d-block f-s-14 m-t-8">{{util.appTranslate('admin_setup_sub_title')}}</span>

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{util.appTranslate('email_lbl')}}</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput formControlName="email" />
                @if(f['email'].touched && f['email'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(f['email'].errors && f['email'].errors['required']) {
                  <div class="text-error">{{util.appTranslate('form_required')}}</div>
                  } @if(f['email'].errors && f['email'].errors['pattern']) {
                  <div class="text-error">{{util.appTranslate('email_validation')}}</div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <!-- password -->
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{util.appTranslate('password')}}</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput formControlName="password" [type]="showPassword ? 'password' : 'text'" />
                <button mat-icon-button matSuffix (click)="showPassword = !showPassword" type="button">
                  <mat-icon class="op-5">{{ showPassword ? "visibility_off" : "visibility"}}</mat-icon>
                </button>
                @if(f['password'].touched && f['password'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if( f['password'].errors && f['password'].errors['required'])
                  {
                  <div class="text-error">{{util.appTranslate('form_required')}}</div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <div class="row">
                <div class="col-lg-6 col-sm-12 p-b-16">
                  <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{util.appTranslate('first_name_lbl')}}</mat-label>
                  <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput formControlName="firstName" />
                    @if (f['firstName'].touched && f['firstName'].invalid) {
                    <mat-hint class="m-b-16 error-msg">
                      @if (f['firstName'].errors && f['firstName'].errors['required']) {
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>

                <div class="col-lg-6 col-sm-12 p-b-16">
                  <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{util.appTranslate('last_name_lbl')}}</mat-label>
                  <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput formControlName="lastName" />
                    @if (f['lastName'].touched && f['lastName'].invalid) {
                    <mat-hint class="m-b-16 error-msg">
                      @if (f['lastName'].errors && f['lastName'].errors['required']) {
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>

              </div>


              <div class="row">
                <div class="col-lg-4 col-sm-12 p-b-16">
                  <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{util.appTranslate('country_lbl')}}</mat-label>
                  <mat-form-field class="w-100" appearance="outline">
                    <input type="text" [placeholder]="util.appTranslate('choose_country')" matInput name="countryCode"
                      [formControl]="countryCodeCtrl" [matAutocomplete]="autoCountryCode" />
                    <mat-autocomplete autoActiveFirstOption #autoCountryCode="matAutocomplete"
                      (optionSelected)="onCountryCodeSelect($event)">
                      @for (item of countryCodes | async; track $index) {
                      <mat-option [value]="item.flag +' '+ item.dial_code +' '+ item.name">
                        {{item.flag +' '+ item.dial_code + ' '+ item.name }}
                      </mat-option>
                      }
                    </mat-autocomplete>
                    @if (f['countryCode'].touched && f['countryCode'].invalid) {
                    <mat-hint class="m-b-16 error-msg">
                      @if (f['countryCode'].errors && f['countryCode'].errors['required']) {
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>
                <div class="col-lg-8 col-sm-12 p-b-16">
                  <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{util.appTranslate('mobile_number')}}</mat-label>
                  <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput formControlName="mobile" type="number" />
                    @if (f['mobile'].touched && f['mobile'].invalid) {
                    <mat-hint class="m-b-16 error-msg">
                      @if (f['mobile'].errors && f['mobile'].errors['required']) {
                      <div class="text-error">
                        {{util.appTranslate('form_required')}}
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                </div>
              </div>

              <button mat-flat-button color="primary" class="w-100" [disabled]="!form.valid || isSubmit == true">
                {{util.appTranslate('sign_in')}}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
