<div class="table-responsive">
  @if (!isLoaded) {
  <table mat-table [dataSource]="util.dummyArray" class="w-100">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
        {{util.appTranslate('booking_id')}}
      </th>
      <td mat-cell *matCellDef="let element" class="p-l-0">
        <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
        {{util.appTranslate('schedule')}}
      </th>
      <td mat-cell *matCellDef="let element" class="f-s-14">
        <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
      </td>
    </ng-container>

    <ng-container matColumnDef="guest">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
        {{util.appTranslate('dd_guest')}}
      </th>
      <td mat-cell *matCellDef="let element" class="f-s-14">
        <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
      </td>
    </ng-container>

    <ng-container matColumnDef="booker">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
        {{util.appTranslate('th_booking_name')}}
      </th>
      <td mat-cell *matCellDef="let element" class="f-s-14">
        <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
      </td>
    </ng-container>

    <ng-container matColumnDef="restaurant">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1">
        {{util.appTranslate('restaurant')}}
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1">
        {{util.appTranslate('total_amount')}}
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1">
        {{util.appTranslate('th_status')}}
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-r-0 text-right">
        {{util.appTranslate('th_action')}}
      </th>
      <td mat-cell *matCellDef="let element" class="f-w-500 text-right p-r-0">
        <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>

  </table>
  }

  @if (isLoaded) {
  <table mat-table [dataSource]="bookings" class="w-100">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
        {{util.appTranslate('booking_id')}}
      </th>
      <td mat-cell *matCellDef="let element" class="f-s-14 text-uppercase">
        {{ util.refId(element.id) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
        {{util.appTranslate('schedule')}}
      </th>
      <td mat-cell *matCellDef="let element" class="f-s-14">
        {{ getDate(element.bookingDate) }} {{util.appTranslate('at')}} {{element.bookingSlot}}
      </td>
    </ng-container>

    <ng-container matColumnDef="guest">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
        {{util.appTranslate('dd_guest')}}
      </th>
      <td mat-cell *matCellDef="let element" class="f-s-14">
        <h6 class="mat-subtitle-1 f-s-14 f-w-600">
          {{element.guest}} {{element.guest == 1 ? util.appTranslate('dd_guest'): util.appTranslate('dd_guests')}}
        </h6>
      </td>
    </ng-container>

    <ng-container matColumnDef="booker">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
        {{util.appTranslate('th_booking_name')}}
      </th>
      <td mat-cell *matCellDef="let element" class="f-s-14">
        <h6 class="mat-subtitle-1 f-s-14 f-w-600">
          {{ element && element.userName ? element.userName: util.appTranslate('invalid_data') }}
        </h6>
        <span class="mat-body-1 f-s-12">
          {{ element && element.userCountryCode ? '+'+element.userCountryCode +' '+
          element.userContact : util.appTranslate('invalid_data') }}
        </span> <br>
        <span class="mat-body-1 f-s-12">
          {{ element && element.userEmail ? element.userEmail : util.appTranslate('invalid_data') }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="restaurant">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1">
        {{util.appTranslate('restaurant')}}
      </th>
      <td mat-cell *matCellDef="let element" class="f-s-14">
        <h6 class="mat-subtitle-1 f-s-14 f-w-600">
          {{ element && element.restaurant && element.restaurant.displayName ? element.restaurant.displayName :
          util.appTranslate('invalid_data') }}
        </h6>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1">
        {{util.appTranslate('total_amount')}}
      </th>
      <td mat-cell *matCellDef="let element" class="f-s-14">
        <h6 class="mat-subtitle-1 f-s-14 f-w-600">
          {{util.priceFormat(element.grandTotal)}}
        </h6>
        @if(element.paymentMode == 'offline'){
        <span class="mat-body-1 f-s-12 text-error">
          {{util.appTranslate('offline')}}
        </span>
        }
        @if(element.paymentMode == 'online'){
        <span class="mat-body-1 f-s-12 text-success">
          {{util.appTranslate('online')}}
        </span>
        }
        <span class="mat-body-1 f-s-12 text-primary">
          ({{ element && element.paymentInfo && element.paymentInfo.displayName ? element.paymentInfo.displayName :
          util.appTranslate('no_charge')
          }})
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1">
        {{util.appTranslate('th_status')}}
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          class="bg-light-{{getStatusColor(element.status)}} text-{{getStatusColor(element.status)}} rounded f-w-600 p-6 p-y-4 f-s-12">
          {{ util.appTranslate(element.status) }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-r-0 text-right">
        {{util.appTranslate('th_action')}}
      </th>
      <td mat-cell *matCellDef="let element" class="f-w-500 text-right p-r-0">
        <a (click)="onBookingDetailPage(element.id)" class="m-r-10 cursor-pointer text-error"
          [matTooltip]="util.appTranslate('click_to_view')">
          <mat-icon>info</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>

    <tr *matNoDataRow>
      <td colspan="7" class="m-b-16 m-t-16 text-center">{{util.appTranslate('table_no_data_found')}}</td>
    </tr>

  </table>
  }
  <mat-paginator [hidden]="!isLoaded" #paginator [pageSizeOptions]="[5,10, 20]" [pageSize]="pageSize"
    (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
</div>
