<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">
      {{util.appTranslate('refund_request')}}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-0">
    <mat-tab-group mat-stretch-tabs="false" [selectedIndex]="tabIndex" mat-align-tabs="start"
      (selectedTabChange)="tabChanged($event)">
      <mat-tab [label]="util.appTranslate('order_refund_request')"></mat-tab>
      <mat-tab [label]="util.appTranslate('tiffin_subscription_refund_request')"></mat-tab>
      <mat-tab [label]="util.appTranslate('dining_booking_refund_request')"></mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

@if (tabIndex == 0) {
<app-cityzen-order-refund-request></app-cityzen-order-refund-request>
}

@if (tabIndex == 1) {
<app-cityzen-tiffin-subscription-refund-request></app-cityzen-tiffin-subscription-refund-request>
}

@if (tabIndex == 2) {
<app-cityzen-dining-booking-refund-request></app-cityzen-dining-booking-refund-request>
}
