<mat-card class="cardWithShadow">
  <mat-card-header>
    <div class="d-sm-flex w-100">
      <div>
        <mat-card-title>{{util.appTranslate('report_issues')}}</mat-card-title>
      </div>
      <div class="m-l-auto more-btn-align">
        <mat-form-field appearance="outline" class="theme-searchbar">
          <input matInput type="text" [(ngModel)]="searchQuery"
            [placeholder]="util.appTranslate('search_user_restaurant')" (keyup.enter)="onSearch()" />
          <button mat-icon-button matSuffix (click)="onSearch()">
            <mat-icon class="op-5">search</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="theme-select m-l-16" appearance="outline">
          <mat-select [value]="filterStatus" (selectionChange)="onFilterChangeEvent($event.value)">
            <mat-option [value]="true">
              {{util.appTranslate('dd_active')}}
            </mat-option>
            <mat-option [value]="false">
              {{util.appTranslate('dd_closed')}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>

    <div class="table-responsive">
      @if (!isLoaded) {
      <table mat-table [dataSource]="util.dummyArray" class="w-100">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
            {{util.appTranslate('th_id')}}
          </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
          </td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
            {{util.appTranslate('user_info')}}
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
          </td>
        </ng-container>

        <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
            {{util.appTranslate('th_reason')}}
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
          </td>
        </ng-container>


        <ng-container matColumnDef="restaurant">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1">
            {{util.appTranslate('restaurant')}}
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1">
            {{util.appTranslate('th_status')}}
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-r-0 text-right">
            {{util.appTranslate('th_action')}}
          </th>
          <td mat-cell *matCellDef="let element" class="f-w-500 text-right p-r-0">
            <mat-progress-bar mode="indeterminate" color="light"></mat-progress-bar>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>

      </table>
      }

      @if (isLoaded) {
      <table mat-table [dataSource]="reports" class="w-100">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
            {{util.appTranslate('th_id')}}
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14 text-uppercase">
            {{ util.refId(element.id) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
            {{util.appTranslate('user_info')}}
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14 cursor-pointer" (click)="onUserInfo(element)">
            <h6 class="mat-subtitle-1 f-s-14 f-w-600">
              {{ element && element.userInfo && element.userInfo.firstName ? element.userInfo.firstName +' '+
              element.userInfo.lastName : util.appTranslate('invalid_data') }}
            </h6>
            <span class="mat-body-1 f-s-12">
              {{ element && element.userInfo && element.userInfo.contactNumber ? '+'+element.userInfo.countryCode +' '+
              element.userInfo.contactNumber : util.appTranslate('invalid_data') }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-l-0">
            {{util.appTranslate('th_reason')}}
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            <h6 class="mat-subtitle-1 f-s-14 f-w-600">
              {{ element && element.reasons && element.reasons.displayName ? element.reasons.displayName :
              util.appTranslate('invalid_data') }}
            </h6>
            <span class="mat-body-1 f-s-12">
              {{ util.trimText(element.message,80) }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="restaurant">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1">
            {{util.appTranslate('restaurant')}}
          </th>
          <td mat-cell *matCellDef="let element" class="cursor-pointer" (click)="onRestaurantDetail(element)">
            <h6 class="mat-subtitle-1 f-s-14 f-w-600">
              {{ element && element.restaurant && element.restaurant.displayName ? element.restaurant.displayName :
              util.appTranslate('invalid_data') }}
            </h6>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1">
            {{util.appTranslate('th_status')}}
          </th>
          <td mat-cell *matCellDef="let element">
            @if(element.status == true){
            <span class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
              {{util.appTranslate('dd_active')}}
            </span>
            }
            @else{
            <span class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">
              {{util.appTranslate('resolved_completed')}}
            </span>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 mat-subtitle-1 p-r-0 text-right">
            {{util.appTranslate('th_action')}}
          </th>
          <td mat-cell *matCellDef="let element" class="f-w-500 text-right p-r-0">
            <button mat-icon-button [matTooltip]="util.appTranslate('click_to_open')" class="iconbutton"
              color="primary">
              <mat-icon>double_arrow</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>

      </table>
      }

      <mat-paginator [hidden]="!isLoaded" #paginator [pageSizeOptions]="[5,10, 20]" [pageSize]="pageSize"
        (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
