<ng-scrollbar style="height: calc(100vh - 390px)" class="position-relative">
  @if (!isLoaded) {
  <div class="row m-t-12">
    @for (item of util.dummyData; track $index) {
    <div class="col-lg-3 col-sm-3 p-b-16 p-5 m-t-16">
      <mat-progress-bar mode="indeterminate" class="progress-bar-product-info" color="light"></mat-progress-bar>
    </div>
    }
  </div>
  }

  @if (isLoaded) {
  <div class="row m-t-12">
    @for (item of listOfMedias; track $index) {
    <div class="col-lg-1 col-sm-2 p-b-16">
      <img [src]="api.mediaUrl+item.path" class="media-image-cover border p-5 m-t-16 w-100" (click)="onMediaInfo(item)"
        onError="this.src='assets/images/placeholder.png'" />
    </div>
    }
  </div>
  }

  @if (!listOfMedias.length) {
  <h6 class="mat-body-2 f-w-600 text-center">
    {{util.appTranslate('table_no_data_found')}}
  </h6>
  }

</ng-scrollbar>
<mat-divider></mat-divider>
@if (serverResults < totalResults && isLoaded) { <div class="row">
  @if (isLoadingMore) {
  <div class="col-lg-12 d-flex flex-row align-items-center justify-content-center m-t-16 m-b-16 p-t-16 p-b-16">
    <mat-spinner [diameter]="50" style="margin: 0 auto;"></mat-spinner>
  </div>
  }
  @if (!isLoadingMore) {
  <div class="col-lg-12 d-flex flex-row align-items-center justify-content-center m-t-16 m-b-16 p-t-16 p-b-16">
    <button mat-stroked-button (click)="onLoadMore()">{{util.appTranslate('load_more')}}</button>
  </div>
  }
  </div>
  }
