@if(item.navCap){
<div mat-subheader class="nav-caption">
  {{ item.navCap }}
</div>
} @if(!item.navCap && !item.external && !item.twoLines) {
<a mat-list-item (click)="onItemSelected(item)" [ngClass]="{
    'mat-toolbar mat-primary activeMenu': item.route
      ? router.isActive(item.route, true)
      : false,
    expanded: expanded,
    disabled: item.disabled
  }" class="menu-list-item">
  <ng-icon name="{{ item.iconName }}" class="routeIcon" matListItemIcon></ng-icon>
  <span class="hide-menu">{{ util.appTranslate(item.displayName) }}</span>
</a>
}
