<div class="blank-layout-container justify-content-center">
    <div class="row">
      <div class="col-12 text-center">
        <img src="/assets/images/backgrounds/maintenance.svg" alt="error-bg" />
        <h2 class="auth-title f-w-600">{{util.appTranslate('maintenance_mode')}}</h2>
        <h6 class="f-s-20 f-w-600 m-b-30">{{util.appTranslate('maintenance_mode_sub_title')}}</h6>
        <a mat-flat-button [routerLink]="['/']">{{util.appTranslate('back_to_home')}}</a>
      </div>
    </div>
  </div>
